.container{
    text-align: center;
    width:400px;
    height:450px;
    border:1px solid #5C636A;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:10px;
    box-shadow:1px 2px 5px #5C636A;
    display: inline-block;
}
table{
    margin: auto;
}
input{
    font-size: xx-large;
    width: 94%;
    border: 2px solid blue;
    border-radius: 9px;
}
button{
    border-radius: 7px;
    font-size: xx-large;
    background-color: skyblue;
    width: 95px;
    height: 60px;
}
